:root{
    --dark-blue: #240046;
    --purple: #5A189A;
    --mid-purple: #7B2CBF;
    --light-purple: #9D4EDD;
}


#container{

}

.card {
    margin: auto;
    float: none; 
    margin-bottom: 10px; 
}
label {
    display: block;
    margin-bottom:1rem;
    margin-right:0.5rem;
    width: 100%;
}

footer {
    text-align: center;
}
